:root {
    /* Colors */
    --color-hover: rgb(197, 197, 197); 
    --color-white: white; 
    --color-black: black; 
    --color-grey: grey; 
    --color-primary-blue: #21b1dc; 
    --color-primary-green: #189b61; 
    --color-primary-dark-blue: #003563;
    /* Font */
    --font-family: 'Open Sans', sans-serif;
    --regular: 400;
    --semibold: 600;
    --bold: 700;
    --extra-bold: 800; 
}

/* ------------------------------------------------ */
/* !important tag overides bootstrap base css */
/* Base CSS */

h1 {
    font-size: 3rem; 
    font-family: var(--font-family) !important;
    font-weight: var(--extra-bold) !important;
    color: var(--color-white) !important;
    letter-spacing: 1.2 !important;
    margin: 0px;
}

h2 {
    font-size: 2.5rem; 
    font-family: var(--font-family) !important;
    font-weight: var(--semibold) !important;
    color: var(--color-black) !important;
    letter-spacing: 1.2 !important;
    margin: 0px;
}

h3 {
    font-size: 2rem; 
    font-family: var(--font-family) !important;
    font-weight: var(--semibold) !important;
    color: var(--color-black) !important;
    letter-spacing: 1.2 !important;
    margin: 0px;
}

h4 {
    font-family: var(--font-family) !important;
    font-weight: var(--semibold) !important;
    letter-spacing: 1.2 !important;
    margin: 0px;
}

h5 {
    font-family: var(--font-family) !important;
    font-weight: var(--semibold) !important;
    color: var(--color-black) !important;
    letter-spacing: 1.2 !important;
    margin: 0px;
}


p {
    font-size: 1rem; 
    font-family: var(--font-family) !important;
    font-weight: var(--semibold) !important;
    color: var(--color-black);
    letter-spacing: 1.2 !important;
    margin: 0px;
}

td p {
    font-weight: var(--regular) !important;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.columnFlex1{
    display: flex;
    flex-direction: column-reverse;
    justify-content:flex-end; 
}

.green {
    color: var(--color-primary-green);
}

.dark-blue {
    color: var(--color-primary-dark-blue);
}

.light-blue {
    color: var(--color-primary-blue);
}

.grey {
    color: var(--color-grey);
}

.btn {
    border-radius: 25px;
    width: 175px;
    height: 40px;
    font-weight: var(--bold);
    font-family: var(--font-family);
    color: var(--color-white);
}

.btn:hover {
    font-family: var(--font-family);
    color: var(--color-hover);
}

.btn-green {
    background-color: var(--color-primary-green);
}

.btn-green:hover {
    background-color: var(--color-primary-green);
}

.btn-light-blue {
    background-color: var(--color-primary-blue);
}
.btn-light-blue:hover  {
    background-color: var(--color-primary-blue);
}

.btn-dark-blue {
    background-color: var(--color-primary-dark-blue);
}
.btn-dark-blue:hover  {
    background-color: var(--color-primary-dark-blue);
}

/* Start main under jumbotron */
main {
    position: absolute;
    top: 448px;
    height: 100%;
    padding: 6vw;
}

/* ------------------------------------------------ */
/* Navbar */
.navbar {
    height: 10vh;
    padding: 0px;
}

.navbar-b {
    -webkit-transition: all .5s ease-in-out;
    height: 100%;
    min-height: 10vh;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.transparent {
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 1vh;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

.navbar-reduce .navbar-nav {
    padding-bottom: 5vh;
}

.navbar-nav {
    width: 100%;
    max-width: 1200px;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 0;
}

.navbar-reduce .navbar-nav {
    padding-bottom: 0vh;
}

.navbar .show {
    padding: 0px;
}

.navbar-toggler {
    height: 5vh;
    margin: 2.5vh 0;
}

.navbar div {
    padding: 0px;
}

.dropdown-menu {
    border: none;
    background: transparent;
    font-weight: var(--semibold);
    font-family: var(--font-family);
    transition: box-shadow 0.15s ease-in-out;
}

.nav-item.dropdown {
    align-items: center;
}

.nav-item .nav-link {
    text-align: right;
    font-weight: var(--bold);
    font-family: var(--font-family);
    color: var(--color-white);
}

.dropdown-item {
    font-weight: var(--semibold);
    font-family: var(--font-family);
    color: var(--color-white) !important;
}

.dropdown-item:hover {
    background-color: transparent !important;
    color: var(--color-hover) !important;
}

.nav-link:hover {
    color: var(--color-hover) !important;
}

.container-fluid {
    margin: 0 6vw
}
/* ------------------------------------------------ */
/* Table */

/* Removing all unwanted border
from left hand side by calling
all the elements in the first
column and removing their left
border*/
table tr td:first-child, th:first-child{
    border-left: none;
}
         
/* Removing all unwanted border
from top of the table by calling
all the elements in first row and
removing their top border*/
table tr:first-child td{
    border-top: none;
}

table tr:first-child td:first-child {
    vertical-align: bottom;
    padding-bottom: 20px;
}

/* Add extra padding to buttons */
table tr:first-child td:not(:first-child){
    padding: 30px 0;
}
         
/* Removing all unwanted border
from right hand side by calling
all the elements in last row and
removing their right border*/
table tr td:last-child, th:last-child{
    border-right: none;
}

tr:nth-child(odd):not(:first-child) {
    background-color: rgba(0, 0, 0, 0.05);
}

table tr td {
    border: 1px solid var(--color-hover); 
    width: 25%;
    text-align: center;
    height: 7vh;
}

table tr td:first-child{
    text-align: left;
    padding-left: 10px;
}


table {
    width: 100%;
    margin: 20vh 0;
}

/* ------------------------------------------------ */
/* Index */
.jumbotron {
    background-image: url(./assets/hero.jpg);
    border-radius: 0px !important;
    background-repeat: no-repeat;
    height: 448px;
    background-position: center;
    background-size: cover;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
}

.jumbotron h1 {
    text-align: center;
    white-space: nowrap;

}

.header {
    display: flex;
    flex-wrap: wrap;
    max-width: 335px;
    margin: 15vh auto 0;
    height: 270px;
}
  
.header > div:first-child {
    flex: 1 0 100%;
}

.lead {
    font-family: var(--font-family);
    font-weight: var(--bold) !important;
    font-size: 1.125rem;
    color: var(--color-white);
    text-align: center;
    margin: 35px 0;
}

hr {
    width: 100%;
    height: 3px;
    margin: 0;
    background-color: var(--color-primary-blue);
    opacity: 1;
    border-top: 0;
}

.colored-cards {
    position: absolute;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    bottom: -1px;
    left: 6vw;
    right: 6vw;
    
}

.colored-cards > div:first-child {
    background-image: url(./assets/cards/card-green.png);
}

.colored-cards > div:nth-child(2) {
    background-image: url(./assets/cards/card-dark-blue.png);
    margin: 0 15px;
}

.colored-cards > div:nth-child(3) {
    background-image: url(./assets/cards/card-light-blue.png);
}

.colored-card {
    position: relative;
    width: 30vw;
    height: 30vw;
    max-height: 450px;
    max-width: 450px;
    background-position: right;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex
}
  
.flexRow {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.flexRow p {
    white-space: nowrap;
    margin-left: 15px;
}

.content .flexRow{
    margin-top: 25px;
    align-items: end;
}

.content {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.content h4 {
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--semibold);
    margin-bottom: 25px;
}

.content div h4 {
    margin-bottom: 0px;
}

.card-text{
    height: 120px;
}

/* ------------------------------------------------ */
/* Media Tablet */
@media (min-width: 1200px) {
    main {
        top: 100vh !important;
        width: 100%;
    }

    .dropdown-menu{
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    .navbar-nav {
        width: 90%;
        max-width: 1200px;
        justify-content: space-evenly;
    }
    .nav-item.dropdown{
        display: flex;
    } 
    .desktop {
        display: block;
    } 

    .header {
        max-width: 570px; 
        height: 170px;
        margin: 0;
        margin: 0;
        position: absolute;
        top: 25vh;
        left: 6vw;
    }

    .jumbotron {
        height: 100vh; 
    }

    .jumbotron h1 {
        text-align: left;
        white-space: normal !important;
        margin-bottom: 20px;
        font-size: 3.125rem;
    }

    .mobile {
        display: none !important; 
    }

    .lead {
        text-align: left !important;
        margin: 15px 0;
        letter-spacing: 1.2px;
        font-size: 1.5rem;
    }

    .colored-cards {
        display: flex;
    }

    .columnFlex1 {
        flex-direction: column;
        justify-content: flex-start;
    }
}

/* Bootstrap 5 introduces a new breakpoint to the grid system XXL. Below are the Bootstrap media queries used for the grid system breakpoints for you to add to your projects CSS file to customize things.

Sections  show 
What are the Bootstrap 5 Breakpoints?
Bootstrap 5 grid tiers and media query breakpoints
xs = Extra small <576px
Max container width None (auto)

sm = Small ≥576px
Max container width 540px

md = Medium ≥768px
Max container width 720px

lg = Large ≥992px
Max container width 960px

xl = Extra large ≥1200px
Max container width 1140px

xxl = Extra large ≥1400px
Max container width 1320px

Bootstrap 5 media queries code snippet */
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 5 breakpoints
*/
 
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
 
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}
 
/* Extra extra large devices (extra large desktops, 1400px and up) */
@media (min-width: 1400px) {  
    
}
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 
 
}