:root {
    /* Colors */
    --color-hover: rgb(197, 197, 197); 
    --color-hover25: rgb(197, 197, 197, 0.25); 
    --color-white: white; 
    --color-black: black; 
    --color-grey: grey; 
    --color-primary-blue: rgb(33, 177, 220); 
    --color-primary-blue75: rgba(33, 177, 220, 0.75); 
    --color-primary-green: rgb(24, 155, 97); 
    --color-primary-green75: rgba(4, 155, 97, 0.75);
    --color-primary-dark-blue: rgb(0, 53, 99);
    --color-primary-dark-blue75: rgba(0, 53, 99, 0.75);
    /* Font */
    --font-family: 'Open Sans', sans-serif;
    --regular: 400;
    --semibold: 600;
    --bold: 700;
    --extra-bold: 800; 
}

/* ------------------------------------------------ */
/* !important tag overides bootstrap base css */
/* Base CSS */

h1 {
    font-size: 3rem; 
    font-family: var(--font-family) !important;
    font-weight: var(--extra-bold) !important;
    color: var(--color-white) !important;
    letter-spacing: 1.2 !important;
    margin: 0px;
}

h2 {
    font-size: 2rem; 
    font-family: var(--font-family) !important;
    font-weight: var(--semibold) !important;
    color: var(--color-black) !important;
    letter-spacing: 1.2 !important;
    margin: 0px;
}

h3 {
    font-size: 2rem; 
    font-family: var(--font-family) !important;
    font-weight: var(--semibold) !important;
    color: var(--color-black) !important;
    letter-spacing: 1.2 !important;
    margin: 0px;
}

h4 {
    font-family: var(--font-family);
    font-weight: var(--semibold);
    letter-spacing: 1.2;
    margin: 0px;
}

h5 {
    font-family: var(--font-family) !important;
    font-weight: var(--semibold) !important;
    color: var(--color-black) !important;
    letter-spacing: 1.2 !important;
    margin: 0px;
}


p {
    font-size: 1rem; 
    font-family: var(--font-family) !important;
    font-weight: var(--semibold);
    color: var(--color-black);
    letter-spacing: 1.2 !important;
    margin: 0px;
}

td p {
    font-weight: var(--regular);
}

.flex-row {
    display: flex;
}

.mobile, .mobile2 {
    display: block;
    transition: all 0.16s ease-in;
}

.desktop {
    display: none;
    transition: all 0.16s ease-in;
}

.columnFlex1{
    display: flex;
    flex-direction: column-reverse;
    justify-content:flex-end; 
}

.green {
    color: var(--color-primary-green);
}

.green{
    border-radius: 1px solid var(--color-primary-green);
}

.dark-blue {
    color: var(--color-primary-dark-blue);
}

.light-blue {
    color: var(--color-primary-blue);
}

.grey {
    color: var(--color-grey);
}

.btn {
    white-space: nowrap; 
    border-radius: 25px;
    width: 175px;
    height: 40px;
    font-weight: var(--bold);
    font-family: var(--font-family);
    color: var(--color-white);
    transition: all 0.16s ease-in;
    box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, .2);
}

.btn:hover {
    font-family: var(--font-family); 
    opacity: 0.5 !important;
    color: var(--color-white);
    box-shadow: 0 0 0 1px rgba(80, 80, 80, .5);
}

.btn:active {
    color: var(--color-white) !important;
    border: 2px solid var(--color-black) !important;
}

.btn-green {
    background-color: var(--color-primary-green);
}
.btn-green:hover {
    background-color: var(--color-primary-green75) !important;
}
.btn-light-blue {
    background-color: var(--color-primary-blue);
}
.btn-light-blue:hover {
    background-color: var(--color-primary-blue75) !important;
}
.btn-dark-blue {
    background-color: var(--color-primary-dark-blue);
}
.btn-dark-blue:hover {
    background-color: var(--color-primary-dark-blue75) !important;
}




.semibold {
    font-weight: var(--semibold);
}

.extra-bold {
    font-weight: var(--extra-bold);
}

/* ------------------------------------------------ */
/* Hamburger */
label.hamburger {
    display: block;
    width: 40px; /* less width = square hamburger */
    height: 60px;
    position: relative;
    cursor: pointer;
 }
 
 input#hamburger {
   display:none
 }
 .navbar-toggler {
    border: none;
}
 
 .line {
    position: absolute;
    height: 6px;
    width: 100%;
    border-radius: 25px;
    background: var(--color-white);
    transition: 0.5s;
 }
 /* steps of 12 are optional, could also be 10, 13 etc */
 .line:nth-child(1) { top: 3px; }
 .line:nth-child(2) { top: 15px; }
 .line:nth-child(3) { top: 28px; }
 
 /* translateY must be same as */
 #hamburger:checked + .hamburger .line:nth-child(1){
    transform: translateY(10px) rotate(-45deg);
 }
 
 #hamburger:checked + .hamburger .line:nth-child(2){
    opacity:0;
 }
 
 #hamburger:checked + .hamburger .line:nth-child(3){
    transform: translateY(-15px) rotate(45deg);
 }
/* Navbar */
.navbar {
    height: 10vh;
    padding: 0px;
}
.nav-item .dropdown-toggle {
    padding: 0px 0px 8px 0px !important; 
}
.navbar-b {
    -webkit-transition: all .5s ease-in-out;
    height: 100%;
    position: FIXED;
    HEIGHT: FIT-CONTENT;
    WIDTH: 100%;
    min-height: 80px;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.transparent {
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 1vh;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

.navbar-reduce .navbar-nav {
    padding-bottom: 5vh;
}

.navbar-nav {
    width: 100%;
    max-width: 1200px;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 0;
}

.navbar-reduce .navbar-nav {
    padding-bottom: 0vh;
}

.navbar .show {
    padding: 0px 0 25px 0px;
}

.navbar-toggler {
    height: 5vh;
    margin: 2.5vh 0;
}

.navbar div {
    padding: 0px;
}

.dropdown-menu {
    border: none;
    background: transparent;
    font-weight: var(--semibold);
    font-family: var(--font-family);
    transition: box-shadow 0.15s ease-in-out;
}

.nav-item.dropdown {
    align-items: center;
}

.nav-item .nav-link {
    text-align: right;
    font-weight: var(--bold);
    font-family: var(--font-family);
    color: var(--color-white);
}

.dropdown-item {
    font-weight: var(--semibold);
    font-family: var(--font-family);
    color: var(--color-white) !important;
}

.dropdown-item:hover {
    background-color: transparent !important;
    color: var(--color-hover) !important;
}

.nav-link:hover {
    color: var(--color-hover) !important;
}

.container-fluid {
    margin: 0 3vw
}
/* ------------------FOOTER------------------------ */
footer {
    width: 100%;
    padding: 0 6vw;
    display: flex;
    min-height: 175px;
    justify-content: center;
    background-color: var(--color-primary-dark-blue);
}

footer p {
    font-size: 0.85rem;
    font-family: var(--font-family) !important;
    font-weight: var(--regular);
    color: var(--color-white);
    letter-spacing: 1.2 !important;
    bottom: 0vh;
    position: absolute;
}

footer .text {
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 155px;
    margin: auto 0;
}
.footer-brand {
    width: 200px;
    height: 90px;
    border: 2px solid white;
}
.social-icons {
    display: flex;
    margin: 2vh 0;
    width: 95px;
    margin-left: 15px;
}
button.btn.circle {
    width: 35px;
    height: 35px;
    margin: 0 5px;;
    background-color: var(--color-white);
}
/* ------------------------------------------------ */
/* Table */
section.grid {
    MARGIN-TOP: 448PX;
    padding-top: 20px;
}

/* Removing all unwanted border
from left hand side by calling
all the elements in the first
column and removing their left
border*/
table tr td:first-child, th:first-child{
    border-left: none;
}
         
/* Removing all unwanted border
from top of the table by calling
all the elements in first row and
removing their top border*/
table tr:first-child td{
    border-top: none;
}

table tr:first-child td:first-child {
    vertical-align: bottom;
    padding-bottom: 20px;
}

/* Add extra padding to buttons */
table tr:first-child td:not(:first-child){
    padding: 30px 0;
}
         
/* Removing all unwanted border
from right hand side by calling
all the elements in last row and
removing their right border*/
table tr td:last-child, th:last-child{
    border-right: none;
}

tr:nth-child(odd):not(:first-child) {
    background-color: rgba(0, 0, 0, 0.05);
}

table tr td {
    border: 1px solid var(--color-hover); 
    width: 25%;
    text-align: center;
    height: 7vh;
}

table tr td:first-child{
    text-align: left;
    padding: 10px;
}


table {
    width: 100%;
    margin: 10vh 0 0 0;
}

table tfoot tr:first-child td {
    border-bottom: none;
}

table tfoot tr:nth-child(2) td {
    border-top: none;
}

table tfoot tr:nth-child(2) td div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}


table tfoot tr:nth-child(3) td {
    background-color: var(--color-white);
}


table tfoot tr:nth-child(3) td .line {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 1px;
    border: 1px solid var(--color-black);
}

/* Table - Mobile */
table.mobile {
    display: table;
    margin: 100px 0 0 0;
}
table.mobile tr:nth-child(odd) td {
    background-color: rgba(0, 0, 0, 0.05);
}

table.mobile tr td:first-child {
    width: 65vw;
}
table.mobile thead {
    border-top: 1px solid var(--color-hover);
}
table.mobile thead tr td{
   background-color: var(--color-white) !important;
}
table.mobile tr td:first-child {
    text-align: left;
    padding: 10px 10px 10px 30px;
}
table.mobile tr:first-child td:first-child {
    vertical-align: middle;
   border-right: 0px;
}
table.mobile tr:nth-child(2) {
    border-left: 0px;
}
table.mobile thead tr td{
    border-left: none;
}
/* Texture - IPad */
section.texture {
    padding: 6vw;
    height: 175vw;
    min-height: 200px;
    max-height: 850px;
    background-image: url(./assets/index/texture.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.texture .ipad {
    height: 60vw;
    min-height: 200px;
    max-height: 535px;
    width: 90%;
    top: 100%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 45px;
    max-width: 780px;
    position: absolute;
    box-shadow: 0px 0px 15px -4px rgb(0 0 0 / 20%);
}

.ipad img {
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 8%;
    box-shadow: 0px 0px 41px -4px rgb(0 0 0 / 97%);
}

.texture .btn {
    font-size: 0.9rem;
}

.texture .text {
    max-width: 350px;
}

/* Section 3 - Contact Form */
section.form {
    padding: 6vw;
    margin-top: calc(20vh + 10vw);
}
.form .container .row>* {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
input {
    width: 96%;
    border: none;
    border-bottom: 1px solid var(--color-hover);
    font-size: 1.10rem; 
    font-family: var(--font-family) !important;
    font-weight: var(--semibold);
    letter-spacing: 1.2 !important;
    color: var(--color-grey);
    margin: 0px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgb(0 0 0 / 5%);
}

input::placeholder {
    font-size: 1.10rem; 
    font-family: var(--font-family) !important;
    font-weight: var(--semibold);
    letter-spacing: 1.2 !important;
    color: var(--color-hover);
}

input:focus-visible {
    outline: var(--color-hover) auto 1px;
}

form#contact_form {
    margin-top: 6vw;
}

.display-contents {
    display: contents;
}
.form_buttons {
    width: 100%;
    margin: 20px auto;
    max-width: 420px;
    display: flex;
    vertical-align: center;
    justify-content: space-between;
    align-items: center;
}
.form_buttons .btn {
    font-size: 0.85rem;
    height: 50px;
}
.form_buttons p {
    margin: 10px;
}
/* ------------------------------------------------ */
/* Index */
.jumbotron {
    background-image: url(./assets/heroes/index_hero.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0px !important;
    background-repeat: no-repeat;
    height: 448px;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
}

.jumbotron h1 {
    text-align: center;
    white-space: nowrap;
    font-size: 2.5rem;

}

.header, .header2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 335px;
    margin: 15vh auto 0;
    height: 270px;
}
  
.header2 .catchphrase {
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
.header > div:first-child {
    flex: 1 0 100%;
}

.lead {
    font-family: var(--font-family);
    font-weight: var(--bold) !important;
    font-size: 1.125rem;
    color: var(--color-white);
    text-align: center;
    margin: 35px 0;
}

hr {
    width: 100%;
    height: 3px;
    margin: 0;
    background-color: var(--color-primary-blue);
    opacity: 1;
    border-top: 0;
}

.colored-cards {
    position: absolute;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    bottom: -1px;
    left: 6vw;
    max-width: 1400px;
    right: 6vw;
    
}

.colored-cards > div:first-child {
    background-image: url(./assets/cards/card-green.png);
}

.colored-cards > div:nth-child(2) {
    background-image: url(./assets/cards/card-dark-blue.png);
    margin: 0 15px;
}

.colored-cards > div:nth-child(3) {
    background-image: url(./assets/cards/card-light-blue.png);
}

.colored-card {
    position: relative;
    width: 30vw;
    height: 30vw;
    max-height: 380px;
    max-width: 450px;
    background-position: right;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex
}
  
.flexRow {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.flexRow p {
    white-space: nowrap;
    margin-left: 15px;
}

.content .flexRow{
    margin-top: 25px;
    align-items: end;
}



.content h4 {
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--semibold);
    margin-bottom: 25px;
}

.content div h4 {
    margin-bottom: 0px;
}

.card-text{
    height: 120px;
}

/* Carousel */
#carousel {
    padding: 5vh 0 0;
}

#carousel .packages, .charts .packages {
    max-width: 320px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}



.charts .packages {
    text-align: center;
}

.charts .packages > h4 {
    width: 27%;
    margin: 0 4.5%;
    font-size: 1rem;
}

.packages h4 {
    font-size: 1.3rem;
}

.packages h4:hover {
    cursor: pointer;
    color: var(--color-hover);
}

.active#carousel-basic {
    border-bottom: 3px solid var(--color-primary-green);
    height: 35px;
    animation: fadein 1s forwards;
}
.active#charts-basic {
    border-bottom: 3px solid var(--color-primary-green);
    height: 50px;
    animation: fadein 1s forwards;
}
#charts-basic {
    border-bottom: 3px solid var(--color-hover);
    height: 50px;
    animation: fadein 1s forwards;
}
#charts-enterprise {
    border-bottom: 3px solid var(--color-hover);
    height: 50px;
    animation: fadein 1s forwards;
}
.active#carousel-core{
    border-bottom: 3px solid var(--color-primary-dark-blue);
    height: 35px;
    animation: fadein 1s forwards;
}
#carousel-core{
    border-bottom: 3px solid var(--color-hover);
    height: 35px;
    animation: fadein 1s forwards;
}

.active#charts-core {
    border-bottom: 3px solid var(--color-primary-dark-blue);
    height: 50px;
    animation: fadein 1s forwards;
}
#charts-core {
    border-bottom: 3px solid var(--color-hover);
    height: 50px;
    animation: fadein 1s forwards;
}

.active#carousel-enterprise {
    border-bottom: 3px solid var(--color-primary-blue);
    height: 35px;
    animation: fadein 1s forwards;
}

.active#charts-enterprise {
    border-bottom: 3px solid var(--color-primary-blue);
    height: 50px;
    animation: borderEnterprise 1s forwards;
    text-align: center;
}

.cards {
    height: 55vw;
    width: 100%;
    min-height: 200px;
    max-width: 35vw;
    min-width: 270px;
    max-height: 25vw;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
}

.cards .content {
    width: 80%;
}
       
.cards .card-text {
    height: 80px;
    line-height: 1.2rem;
}
.cards .colored-card {
    border: 1px solid var(--color-hover);
    position: absolute;
    display: flex !important;
    background-position: top;
    width: 100%;
    min-height: 250px;
    max-width: 400px;
    min-width: 270px;
    max-height: 25vw;
    -webkit-animation: fadein 1s forwards;
    animation: fadein 1s forwards;
    opacity: 1;
    box-shadow: 0 0 25px rgb(0 0 0 / 50%);
}

.cards .colored-card.initial.hide {
    display: none;
    animation: none;
    -webkit-animation: none;

}

.cards .colored-card.hide{
    opacity: 0;
    -webkit-animation: fadeout 0.5s linear forwards;
    animation: fadeout 0.5s linear forwards;

}

.cards > div:first-child {
    background-image: url(./assets/cards/card-green.png);
}

.cards > div:nth-child(2) {
    background-image: url(./assets/cards/card-dark-blue.png);
    margin: 0;
}

.cards > div:nth-child(3) {
    background-image: url(./assets/cards/card-light-blue.png);
}

/* -------------WHY GOSOCIAL----------------- */
/* Hero */
.whyGoSocial .jumbotron2 {
    background-image: url(./assets/heroes/why_goSocial_hero.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0px !important;
    background-repeat: no-repeat;
    height: 448px;
    display: flex;
    position: relative;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 100vh;
}

.flex-center{
    justify-content: center;
}

.jumbotron2 h1 {
    text-align: center;
    white-space: nowrap;
    font-size: 2rem;
    font-weight: var(--semibold) !important;
}

.jumbotron2 .lead2 {
    font-weight: var(--semibold) !important;
    font-size: 1rem;
}
.whyGoSocial .header2 {
    display: flex;
    flex-wrap: wrap;
    height: 270px;
    position: relative;
    justify-content: center;
}

.whyGoSocial .header2 .text-center{
    width: 100%;
}


.checkmark {
    height: 10px;
}


.whyGoSocial .hero_image2 img {
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 450px;
    min-width: 315px;
    width: 100%;
}

.whyGoSocial .hero_image2 {
    max-width: 450px;
    min-width: 315px;
    width: 100%;
    display: flex;
    margin: 5vh auto;
    height: 35vh;
    position: relative;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    margin: -22px auto;
    text-align: center;
    max-width: 450px;
    width: 100%;
}

.header-nav a {
    color: white !important; 
    padding: 0 5px;
    font-size: 1rem;
}
  
.header > div:first-child {
    flex: 1 0 100%;
}

.lead, .lead2 {
    font-family: var(--font-family);
    font-weight: var(--bold) !important;
    font-size: 1.125rem;
    color: var(--color-white);
    text-align: center;
    margin: 35px 0;
}

hr {
    width: 100%;
    height: 3px;
    margin: 0;
    background-color: var(--color-primary-blue);
    opacity: 1;
    border-top: 0;
}

.hero_image {
    width: 50%;
    display: flex;
    margin: 15vh 3vw;
    height: 60vh;
    position: relative;
}
/* Form */

.whyGoSocial .form {
    position: relative;
    margin-top: 0;
}

/* Why GoSocial Charts */
.charts .title {
    margin: 5vh auto 0;
    width: 60%;
    text-align: center;
}
.charts-bars {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 320px;
    margin: auto;
    height: 150px;

}

#grey-bar, #chart {
    display: flex;
    width: 320px;
    height: 66px;
    position: relative;
    background-color: var(--color-hover25);
}
.dark-grey-fill {
    height: 100%;
    width: 40%;
    background-color: var(--color-grey);
    animation: fillGrey 0.5s ease;
}
.green-fill {
    display: flex;
    height: 100%;
    width: 0%;
    background-color: var(--color-primary-green);
}
.start {
    opacity: 0;
}
.dark-blue-fill {
    display: flex;
    height: 100%;
    background-color: var(--color-primary-dark-blue);
    width: 0%;
    opacity: 0;
}
.light-blue-fill {
    display: flex;
    height: 100%;
    background-color: var(--color-primary-blue);
    width: 0%;
    opacity: 0;
}
.green-fill.filled {
    width: 10%;
    display: flex !important;
}
.hide {
    display: none;
}
.dark-blue-fill.filled {
    width: 20%;
    display: flex !important;
}
.light-blue-fill.filled {
    width: 25%;
    display: flex !important;
}
.green-fill .price {
    line-height: 66px;
    position: relative;
    justify-content: center;
    display: flex;
    width: 100%;
    margin-left: 60px;
    text-align: center;
    color: var(--color-white);
}
svg.vector {
    height: 4px;
    position: absolute;
    display: block;
    align-self: center;
    margin: 3px 0 0 -90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(./assets/icons/vector.svg);
}

.dark-grey-fill .price {
    opacity: 1;
    line-height: 66px;
    position: relative;
    justify-content: center;
    display: flex;
    text-align: center;
    animation: fadein 1s forwards;
    color: var(--color-white);
}
.dark-blue-fill .price p {
    opacity: 1;
    line-height: 66px;
    position: relative;
    justify-content: center;
    display: flex;
    font-weight: var(--regular);
    text-align: center;
    animation: fadein 1s forwards;
    color: var(--color-white);
}
.light-blue-fill .price p {
    opacity: 1;
    line-height: 66px;
    position: relative;
    justify-content: center;
    display: flex;
    font-weight: var(--regular);
    text-align: center;
    animation: fadein 1s forwards;
    color: var(--color-white);
}
svg.graph-logo-industry-average {
    height: 11px;
    display: block;
    align-self: center;
    margin: 0 0 0 50px;
    width: 125px;
    background-position: center;
    background-size: cover;
    background-image: url(./assets/logos/industy_average.svg)
}
svg.graph-logo-basic {
    height: 12px;
    display: block;
    align-self: center;
    right: 10px;
    width: 165px;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-image: url(./assets/logos/goSocial_green.svg);
}
svg.graph-logo-basic, svg.graph-logo-industry-average, .charts-bars, #grey-bar, #chart  {-moz-transition: all .5s ease-out;-o-transition: all .5s ease-out;transition: all .5s ease-out;}
.disclaimer {
    width: 60%;
    text-align: left;
    min-width: 320px; 
    margin: 35px auto 0;
    font-size: 12px;
}
/* Why GoSocial Difference MOBILE */
.chef-container { 
    max-height: 60vh;
    overflow: HIDDEN;
}
.chef-container img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.textured {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(./assets/whyGoSocial/texture.png);
}
.head {
    padding: 5vh;
    padding-bottom: 0;
    width: 100%;
    min-width: 315px;
    max-width: 400px;
    margin: auto;
}
.textured .head .flex-container {
    display: flex;
    flex-direction: column;
}

.get-pricing {
    width: 125px;
    margin-top: 25px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.get-pricing p {
    white-space: nowrap;
}

.get-pricing svg {
    height: 15px;
    width: 30px;
    justify-content: center;
    align-self: center;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./assets/icons/Green_Arrow.svg);
}

.catchphrase {
    text-transform: uppercase !important;
    font-size: 12px;
}
h2.title {
    margin: 15px 0;
}
#mobile-carousel {
    width: 320px; 
    margin: auto;
}
.mobile-card-carousel {
    position: relative;
    height: 250px;
    color: black;
    font-size: 40px;
    margin-right: 10px;
    flex: 275px 0 0;
}
.mobile-card-carousel img {
    height: 100%;
    width: 100%;
}
.cards-wrapper {
    display: flex; 
    transition: ease 0.5s;
    padding-top: 20px;
}
.cards-wrapper .content {
    position: absolute;
    top: 30px;
    width: 100% !important;
}
.cards-wrapper .content .title {
    text-transform: capitalize;
    font-size: 16pt;
    font-family: var(--font-family);
    color: var(--color-primary-dark-blue);
    font-weight: var(--semibold);
    margin: 5px 20px 10px;
}
.cards-wrapper .content .text {
    margin: 0 20px;
}
.cards-wrapper .content .text p {
    font-size: 10pt;
}
.display-area {
    width: 100%;
    overflow-x: hidden;
    margin: auto;
}
  
.dots-wrapper {
    display: flex;
    margin-top: 15px;
    margin-left: 5px;
}
  
.dot {
    border: none;
    background: rgba(0, 0, 0, 0.2);
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 50%;
    outline: none;
}
.dot:hover {
    background: rgba(0, 0, 0, 0.3);
}
.dot.active {
    background: rgba(0, 0, 0, 0.5);
}
/* -------------MEDIA QUERIEs----------------- */
/* SMALL */
@media (min-width: 576px){
    .form .container .buttons {
       flex-direction: row;
    }
    .form .container .buttons {
        max-width: 400px;
        margin: 60px auto;
    }
    
   
}
/* MD */
@media (min-width: 768px){
   
}

@media (min-width: 992px) {
    /* Index */
    table.desktop {
        display: table;
    }

    .dropdown-menu{
        background: rgba(0, 0, 0, 1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    .navbar-nav {
        width: 90%;
        max-width: 1200px;
        justify-content: space-evenly;
    }
    .nav-item.dropdown{
        display: flex;
    } 
   
    .navbar .show {
        padding: 0x !important;
    }
    .desktop {
        display: block;
    } 

    .header {
        max-width: 570px; 
        height: 170px;
        margin: 0;
        margin: 0;
        position: absolute;
        top: 25vh;
        left: 6vw;
    }

    .jumbotron {
        height: 100vh; 
    }

    .jumbotron h1 {
        text-align: left;
        white-space: normal !important;
        margin-bottom: 20px;
        font-size: 3.125rem;
    }
    section.grid {
        MARGIN-TOP: 100vh;
        PADDING: 6vw;
    }
    .mobile {
        display: none !important; 
    }

    .lead {
        text-align: left !important;
        margin: 15px 0;
        letter-spacing: 1.2px;
        font-size: 1.5rem;
    }
    .content {
        width: 70%;
        height: 70%;
        display: flex;
        flex-direction: column;
    }
    .colored-cards {
        display: flex;
    }

    .columnFlex1 {
        flex-direction: column;
        justify-content: flex-start;
    }

    .texture .text {
        max-width: 900px;
    }

   


}

/* Bootstrap 5 introduces a new breakpoint to the grid system XXL. Below are the Bootstrap media queries used for the grid system breakpoints for you to add to your projects CSS file to customize things.

Sections  show 
What are the Bootstrap 5 Breakpoints?
Bootstrap 5 grid tiers and media query breakpoints
xs = Extra small <576px
Max container width None (auto)

sm = Small ≥576px
Max container width 540px

md = Medium ≥768px
Max container width 720px

lg = Large ≥992px
Max container width 960px

xl = Extra large ≥1200px
Max container width 1140px

xxl = Extra large ≥1400px
Max container width 1320px

Bootstrap 5 media queries code snippet */
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 5 breakpoints
*/
 
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
@media (min-width: 375px) {
    .textured .head .flex-container {
        flex-direction: row;
    }
    .get-pricing {
        margin-top: 0;
        margin-left: 25px;
    }
}
 
 
/* Small devices (landscape phones, 400px and up) */
@media (min-width: 400px) {  
    .form_buttons .btn .mobile {
        display: none;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1245px) {  
    .whyGoSocial .hero_image2 {
        width: fit-content;
        display: flex;
        margin: 5vh auto;
        height: 50vh;
        position: absolute;
        right: 3vw;
        top: 15%;
    }
    /* #mobileCharts{
        opacity: 0;
    }
    #desktopCharts{
        opacity: 0;
    } */
    .whyGoSocial .hero_image2 img {
       width: fit-content; 
    }
    .jumbotron_container {
        position: relative;
        width: 1050px;
        margin: 0 auto;
    }
    .whyGoSocial .jumbotron2 {
        flex-direction: row;
    }
    .whyGoSocial .jumbotron2 h1{
        text-align: left;
        white-space: normal !important;
        margin-bottom: 20px;
        font-size: 3.125rem;
    }
    .whyGoSocial .jumbotron2 .lead2 {
        
            text-align: left !important;
            margin: 15px 0;
            letter-spacing: 1.2px;
            font-size: 1.5rem;
        
    }
    .whyGoSocial .jumbotron2 .text-center {
        text-align: left !important;
    }
    .whyGoSocial .header2 {
        max-width: 570px; 
        height: 170px;
        margin: 0;
        margin: 0;
        position: absolute !important;
        top: 25vh;
        left: 3vw;
        text-align: left;
        justify-content: flex-start;
    }

     .whyGoSocial .jumbotron2 {
        height: 80vh; 
    }
    .header-nav {
        position: absolute;
        bottom: 0;
        max-width: 700px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
    }
    .header-nav a {
        font-size: 1.25rem;
    }
    .charts-bars {
        width: 1000px;
    }
    #grey-bar, #chart {
        width: 1000px;
    }
    svg.vector {
        display: none;
    }
    .green-fill .price {
        margin-left: 0;
    }
    .green-fill .price p{
        color: white;
    }
    .dark-grey-fill {
        width: 50%;
    }
    svg.graph-logo-basic {
        margin: 0px 0 0 815px;
    }
    svg.graph-logo-industry-average{
        margin: 0 0 0 350px;
    }
    .disclaimer {
        width: 1000px;
    }
}
 
/* Extra extra large devices (extra large desktops, 1400px and up) */
@media (min-width: 1400px) {  
    
}
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 
 
}

@keyframes fillGrey {
    from {
        width: 0%;
    }
    to {
        width: 50%
    }
}

@keyframes fillLightBlue {
    from {
        width: 0%;
    }
    to {
        width: 25%
    }
}

@keyframes drainLightBlue {
    from {
        width: 25%;
    }
    to {
        width: 0%
    }
}

@keyframes fillGreen {
    from {
        width: 0%;
    }
    to {
        width: 10%
    }
}

@keyframes drainGreen {
    from {
        width: 10%;
    }
    to {
        width: 0%
    }
}

@keyframes fillDarkBlue {
    from {
        width: 0%;
    }
    to {
        width: 20%
    }
}

@keyframes drainDarkBlue {
    from {
        width: 20%;
    }
    to {
        width: 0%
    }
}

@keyframes fadein {
    from {
        opacity: 0;
        z-index: 0;
    }
    to {
        opacity: 1;
        z-index: 100;
    }
}

@keyframes borderCore {
    from {
        border-bottom: 3px solid var(--color-hover);
    }
    to {
        border-bottom: 3px solid var(--color-primary-dark-blue);
    }
}

@keyframes borderEnterprise {
    from {
        border-bottom: 3px solid var(--color-hover);
    }
    to {
        border-bottom: 3px solid var(--color-primary-blue);
    }
}

@keyframes borderBasic {
    from {
        border-bottom: 3px solid var(--color-hover);
    }
    to {
        border-bottom: 3px solid var(--color-primary-green);
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
        z-index: 100;
    }
    to {
        opacity: 0;
        z-index: 0;
    }
}
@keyframes hideDisplay {
    from {
        display: flex;
    }
    to {
        display: none;
    }
}
